.feature__list {
  & .feature__title {
    letter-spacing: 0.03em;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    margin-bottom: 10px;
    margin-top: 0px;
    color: $primery-text-color;
  }

  & .feature__text {
    color: $title-text-color;
    letter-spacing: 0.03em;
    font-size: 14px;
    line-height: 1.71;
    margin: 0px;
    display: flex;
  }
}

.feature__item {
  width: 450px;

  &-bgr {
    display: flex;
    width: 450px;
    height: 120px;
    background: #f5f4fa;
    border-radius: 4px;

    margin-bottom: 30px;
  }
}

.feature__icon {
  display: inline-block;
  margin: auto;
}
