.portfolio-nav {
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;

  @media screen and (max-width: $tablet) {
  }

  @media screen and (min-width: $tablet) {
    justify-content: center;
  }
}

.portfolio-nav__item:not(:nth-last-child(-n + 2)) {
  @media screen and (max-width: $tablet) {
    margin-bottom: 15px;
  }
}

.portfolio-nav__item {
  margin-right: 8px;
  &:last-child {
    margin-right: 0;
  }
}

.portfolio-nav__button {
  color: $primery-bg-color;
  background-color: $accept-color;
  letter-spacing: 0.06em;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  font-weight: 700;
  cursor: pointer;
  border-radius: 4px;
  padding: 6px 22px;
  border: 0px;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-nav .portfolio-nav__button {
  background-color: #f5f4fa;
  color: $primery-text-color;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;

  &:hover,
  &:focus {
    color: $primery-bg-color;
    background-color: $accept-color;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
  }
}
