.site-hero {
  // margin-top: 0px;
  // margin-bottom: 0px;
  // text-align: center;
  // max-width: 1600px;
  // height: 600px;
  // margin-left: auto;
  // margin-right: auto;
  // background-color: #c4c4c4;
  // background-image: linear-gradient(
  //     to right,
  //     rgba(47, 48, 58, 0.4),
  //     rgba(47, 48, 58, 0.4)
  //   ),
  //   url(../images/Overlay.jpg);
  // background-size: cover;
  // background-repeat: no-repeat;
  // background-position: center;

  &__title {
    color: $primery-bg-color;
    letter-spacing: 0.06em;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    margin-top: 0px;
    padding-top: 200px;
    text-transform: uppercase;
  }

  &__button {
    color: $primery-bg-color;
    background-color: $accept-color;
    letter-spacing: 0.06em;
    font-size: 16px;
    line-height: 1.87;
    text-align: center;
    font-weight: 700;
    cursor: pointer;
    border-radius: 4px;
    padding: 10px 32px;
    min-width: 200px;
  }
}
