.site-header {
  border-bottom: 1px solid #ececec;
}

.site-header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 60px;
}
.site-header__menu-btn {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}
.site-header__menu-btn .site-header__nav_icon-close {
  display: none;
}

.site-header__menu-btn.is-open .site-header__nav_icon-close {
}
