.page {
  background-color: $primery-bg-color;
  font-family: $primery-font-family;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: $mobile) {
    width: $mobile;
  }

  @media screen and (min-width: $tablet) {
    width: $tablet;
  }

  @media screen and (min-width: $desktop) {
    width: $desktop;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.section__title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: $primery-text-color;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}
