$primery-text-color: #212121;
$title-text-color: #757575;
$accept-color: #2196f3;
$primery-bg-color: #ffffff;
$accept-bg-color: #2f303a;
$bg-color: #f5f4fa;
$portfolio-box-gap: 30px;
$border-card-content: 1px solid #eeeeee;
$color-icon: #afb1b8;
$logo-font-family: Raleway, sans-serif;
$primery-font-family: Roboto, sans-serif;
$mobile: 480px;
$tablet: 768px;
$tablet-max: 1199px;
$desktop: 1200px;
